<header class="sidepanel-header-fixed" style="border-radius: 0;">
    <div class="header-title-group">
        <img src="https://raw.githubusercontent.com/DevDeividMoura/omni-max/main/src/assets/icons/icon-48.png" alt="Omni Max Logo" class="header-logo" />
        <div class="header-text-wrapper">
            <h1>Omni Max</h1>
            <p>Muito mais que uma extensão</p>
        </div>
    </div>
    <div class="header-controls">
        <a href="https://github.com/DevDeividMoura/omni-max" target="_blank" rel="noopener noreferrer" class="github-link-header" title="Ver repositório no GitHub">
            </a>
    </div>
</header>